*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
:root{    /*ADAPTADOR DE LAYOUT*/
    font-size: 62.5%;
}
body{
    background: linear-gradient(287.56deg, #c2e9fb 0%, #a1c4fd 100%);
    font-size: 1.6rem;


    /*ABAIXO CENTRALIZANDO AO MEIO*/
    height: 100vh;
    display: grid;     /*FACILMENTE SUBSTITUI POR UM MARGIN NA TAG MAIN ABAIXO*/
    place-items: center;  
}

main{
    background: #ffffff;
    box-shadow: 0 .2rem .4rem rgba(0, 0, 0,0.1);
    border-radius: .6rem;
    padding: 4.8rem 6.4rem 6.4rem;
    text-align: center;
   
    width:min(42.8rem, 90%);
    height: 27.372rem;
    /* margin: 20rem auto;    CENTRALIZA O MAIN  */   
}



/*==============================SCRREN1============*/
.hide{
    display: none;
}
form{
    margin-top: 4.8rem;
    display: flex;
    justify-content: center;
    
}
input{
    background: #dce2e9;
    width: 6rem;
    height: 5.3rem;
    border-radius: .4rem 0 0 .4rem;
     
    
}

button{
    background: #7879F1;
    color: white;
    width: 8.2rem;
    height: 5.3rem;
    border-radius: 0 .4rem .4rem 0;
    font-weight: bold;
    cursor: pointer; 
}
button:hover{
    background: #6060c3;

}
input,button{
    border: none;
    padding: 1.6rem;
}


h1, p{
    color: #34355b;
}
p{
    opacity: 0.8;
}
body, button,input{
    font-family: 'DM Sans', sans-serif;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;  
    margin-bottom: 1.6rem;
  
}


/*======================screen2================*/
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;  
    font-weight: normal ;
    
    
}
.botao2{
    background: #7879F1;
    color: white;
    width: 16.6rem;
    height: 5.3rem;
    border-radius:.4rem;
    font-weight: bold;
    margin-top: 3.3rem;
    border: none;
}